<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hooh - Sysprog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Hooh - Volume Control App</h1>
          <p class="lead">Sebuah program buatan kelompok Hooh Sysprog 2020/2021 Gasal sebagai implementasi dari pembelajaran.</p>
        </div>
    </div>

    <div class="main px-5 py-5">
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="volChange">Change Volume to:</label>
                <input type="number" class="form-control" id="volChange" name="volChange" placeholder="e.g. 20">
                <button type="submit" class="btn btn-primary">Submit</button>
                <input type="hidden" id="action" name="action" value="change">
            </div>
        </form>
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <div class="form-group mt-4">
                <label for="volChangeInc">Increase Volume by:</label>
                <input type="number" class="form-control" id="volChangeInc" name="volChangeInc" placeholder="e.g. 50">
                <button type="submit" class="btn btn-success">Submit</button>
                <input type="hidden" id="action" name="action" value="increase">
            </div>
        </form>
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <div class="form-group mt-4">
                <label for="volChangeDec">Decrease Volume by:</label>
                <input type="number" class="form-control" id="volChangeDec" name="volChangeDec" placeholder="e.g. 70">
                <button type="submit" class="btn btn-info">Submit</button>
                <input type="hidden" id="action" name="action" value="decrease">
            </div>
        </form>

        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <div class="mt-4">
                <input type="hidden" id="action" name="action" value="mute">
                <button type="submit" class="btn btn-secondary" style="width: 100%;">Mute</button>
            </div>
        </form>
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <div class="mt-4">
                <input type="hidden" id="action" name="action" value="unmute">
                <button type="submit" class="btn btn-warning" style="width: 100%;">Unmute</button>
            </div>
        </form>
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <div class="mt-4">
                <input type="hidden" id="action" name="action" value="test">
                <button type="submit" class="btn btn-dark" style="width: 100%;">Test Sound</button>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>